doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes")

    title= "SE'XXI"

    meta(name="description", content="The homepage for Waterloo Software Engineering Class of 2021")
    meta(name="author" content="University of Waterloo Software Engineering Class of 2021 <https://github.com/sexxis/website/contributors>")

    link(href="static/style.css" rel="stylesheet")

  body
    header
      p.upper WE ARE
      h1
        span.se SE
        span.xxi XXI
      p.lower WATERLOO SOFTWARE ENGINEERING 
        span(style="display:inline-block") CLASS OF 2021
      ul
        li
          a(href="https://drive.google.com/drive/folders/0B6CiieXaOr86WU52Xy1KQ01UaDA?usp=sharing") resources
        li
          a(href="http://sexxi.xyz/talks") talks
        li
          a(href="https://fb.com/groups/uwse21") facebook
