doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes")

    title= "SE'XXI"

    meta(name="description", content="The homepage for Waterloo Software Engineering Class of 2021")
    meta(name="author" content="University of Waterloo Software Engineering Class of 2021 <https://github.com/UWaterlooSE2021/sexxi.xyz/contributors>")

    link(href="static/style.css" rel="stylesheet")

  body
    header
      p.upper WE ARE
      h1
        span.se SE
        span.xxi XXI
      p.lower WATERLOO SOFTWARE ENGINEERING CLASS OF 2021
